@media print {
    .post {
        margin: 0 10px 0 10px;
    }

    .post a[href]:not(.anchorjs-link):after {
        content: " (" attr(href) ") ";
        font-family: 'IBM Plex Mono', monospace;
    }

    .post-content .anchorjs-link {
        margin: 0 9px 0 -80px !important;
    }
}

h1, h2, h3, h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }

a { color: #a00000; }
a:visited { color: #ff4d4d; }
a:hover {
    color: #000;
    text-decoration: underline;
}

.post-content a {
    font-family: 'Germania One', serif;
}

.anchorjs-link {
    display: inline-block;
    width: 70px;
    font-family: 'IBM Plex Mono';
    text-align: right;
    margin: 0 19px 0 -90px !important;
    color: #a00000;
}

header {
    font-family: 'IBM Plex Sans', sans-serif;
}

.site-title {
    font-family: 'Germania One', serif;
}

p {
    font-family: 'IBM Plex Serif', serif;
}

pre, code {
    background-color: rgba(0,0,0,0);
}

footer {
    font-family: 'IBM Plex Sans', sans-serif;
}

footer p {
    letter-spacing: -0.5px;
}

.footer-col-1, .footer-col-2 {
    width: calc(-15px + 27.45%);
}

.post-title {
    font-size: 2.5em;
    padding-bottom: 0;
    border-bottom: none;
}

.post-meta {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.post {
    font-family: 'IBM Plex Serif', serif;
    text-align: justify;
}

.key {
    background-color: #eee;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    border: 0.5px solid #333;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
}

.gui-menu {
    background-color: #eee;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    padding: 4px;
    padding-bottom: 2px;
    margin-left: -1px;
    margin-right: -1px;
    border: 0.5px solid #333;
    border-radius: 2px;
}

.gui-link {
    margin-left: 2px;
    margin-right: 2px;
}

.menu-seq {
    padding: -3px;
    margin: 0;
    border: 0.5px solid #333;
    border-radius: 2px;
}

.vardef:before {
    color: #777;
    content: "〈";
    margin-left: -8px;
}

.vardef:after {
    color: #777;
    content: "〉";
    margin-right: -8px;
}

.var {
    font-family: 'IBM Plex Mono', monospace;
    color: #a00000;
}

code {
    font-family: 'IBM Plex Mono', monospace;
}

:not(pre) > code {
    background-color: #fff0f0;
    color: #a00000;
    border: none;
    padding: 2px 4px 2px 4px;
    margin: 0;
}

abbr {
    border-bottom: 1px dotted #555;
}

blockquote {
    font-size: 16px;
    letter-spacing: 0;
    border-left: 4px solid #e0e0e0;
}

dl, .aside {
    padding: 0 17px 0 17px;
    border-left: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    color: #111;
    font-style: normal;
}

dt {
    font-weight: 700;
}

.aside {
    text-align: left;
}

.sc {
    font-style: normal;
    font-variant: small-caps;
}

.fullwidth {
    width: 100%;
    height: auto;
}

.sm-center {
    width: 70%;
    display: inherit;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

th {
    font-weight: 400;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

th {
    padding: 0.1em 0.5em 0.1em 0.5em;
}

td {
    padding: 0.1em 0.5em 0.1em 0.5em;
}

tr:last-child td {
    border-bottom: 2px solid black;
}

/* Firefox text rendering hack */
@supports (-moz-appearance: none) {
    :not(pre) > code:before { margin-left: 0; }
    :not(pre) > code:after { margin-right: 0; }
    .vardef:before { margin-left: 0; }
    .vardef:after { margin-right: 0; }
}
